<section class="mt-10 w-full h-40 flex items-center justify-center font-extrabold font-mono bg-white">
    <h2 class="text-3xl font-semibold text-black animate__animated animate__fadeIn">
      Bienvenidos a TechCourses
    </h2>
  </section>
  