<section class="mt-10 w-full h-40 flex items-center justify-center font-extrabold font-mono bg-slate-50">
    <h2 class="text-3xl font-Akira text-black animate__animated animate__fadeIn">
      Ultimas Publiaciones
    </h2>
  </section>
  