---
import Header from "../components/Header.astro";
import Video from "../components/Video.astro";
import Titulo from "../components/Titulo.astro";
import Slider from "../components/Slider.jsx";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";


---

<html>
  <head>
    <title>Plataforma de Venta de Cursos</title>
  </head>
  <body class="bg-gray-100">
    <Header />
    <Video/>
    <Titulo/>
    <Slider />
    <Body />
    <Footer />
  </body>
</html>
